{% extends 'menu/base.html' %}
{% block content %}
<div class="container">
    <h1>Edit Dish</h1>
<form class="form-group" method="post">
    {% csrf_token %}
    <label for="name">Name of the dish: </label>
    <input type="text" value="{{dish.name}}" name="name"><br>
    <label for="price">Price: </label>
    <input type="text" value="{{dish.price}}" name="price"><br>
    <label for="availability">Availability: </label>
    <input type="checkbox" name="availability" {% if dish.availability %}checked{% endif %}><br>
    <input type="submit" class="btn con-btn" value="Edit Dish">
</form>
</div>
{% endblock %}
